import(dtw)
import(locpol)
import(KernSmooth)
import(longitudinalData)
import(wmtsa)
import(pdc)
import(cluster)


export(diss.ACF, diss.PACF,  diss.AR.PIC, diss.AR.MAH, diss.PER, diss.INT.PER, diss.SPEC.LLR, diss.SPEC.GLK, diss.SPEC.ISD, diss.AR.LPC.CEPS, diss.CORT, diss.PRED, pvalues.clust, diss.DWT, diss.COR, cluster.evaluation, diss, diss.MINDIST.SAX, PAA, convert.to.SAX.symbol, MINDIST.SAX, SAX.plot, diss.CDM, diss.CID, diss.NCD, loo1nn.cv, diss.EUCL, diss.DTWARP, diss.FRECHET, diss.PDC)
